.aboutDevs{
    
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: bisque;
   
}

.image{
    width: auto;
    height: 200px;
    border-radius: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
    gap: 5px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 10%;
}

.section1{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section7{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    border-radius: 10px;
    // width: 300px;
    //  height: auto;
}

.section2{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section8{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
    // width: 300px;
    // height: auto;
}

.section3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section9{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(211, 246, 56);
    border-radius: 10px;
    // width: 300px;
    // height: auto;
}

.section4{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section10{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(255, 0, 183);
    border-radius: 10px;
    // width: 300px;
    // height: auto;
}

.section5{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color:rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section11{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(24, 174, 44);
    border-radius: 10px;
    // width: 300px;
    // height: auto;
}

.section6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(104, 146, 85);
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.section12{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color:rgb(133, 115, 234);
    border-radius: 10px;
    // width: 300px;
    // height: auto;
}