.conatiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.section1{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 0;
    grid-row-end: 1;
    background-color: aqua;
    border-radius: 10px;
}
.section7{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    border-radius: 10px;
}

.section2{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    background-color: aqua;
    border-radius: 10px;
}
.section8{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    border-radius: 10px;
}

.section3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
    background-color: rgb(212, 255, 0);
    border-radius: 10px;
}
.section9{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    border-radius: 10px;
}

.section4{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(255, 0, 208);
    border-radius: 10px;
}
.section10{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: aqua;
    border-radius: 10px;
}

.section5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(0, 255, 34);
    border-radius: 10px;
}
.section11{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: aqua;
    border-radius: 10px;
}

.section6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(38, 0, 255);
    border-radius: 10px;
}
.section12{
    grid-column-start:0 ;
    grid-column-end:1 ;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: aqua;
    border-radius: 10px;
}