form {
    display: flex;
    flex-direction: column;
    width: 300px;

    & input, textarea, select {
        // background-color: lightgreen;
        border: 2px solid #333;
        border-radius: 8px;
        margin: 5px;
        padding: 10px;
    }

    & button {
        border-radius: 4px; 
        cursor: pointer;
        font-weight: 100;
        font-size: 18px;
        font-family: Impact;
        
    }
    & button:hover{
        border:2px dashed #c31;
        color:rgb(20, 0, 204);
    }

    & span {
        cursor: pointer;
        text-align: right;
        color: green;
        margin-right:10px;
        font-weight: 100;
        font-size: 12px;
        font-family: Impact;
    }
}

td{ 
    
    background: #ccc;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

    & button {
    border-radius: 4px; 
    cursor: pointer;
    
    }
    
    & button:hover{
    border:2px dashed #c31;
    color:rgb(20, 0, 204);

    }
}
.fixLenght{
    max-width:200px;
    overflow-x: scroll;
    margin:10px;
}


.img{
    position: absolute;
    z-index: 1;
    width: 30px;
    margin: 0 0 4px 0;
    padding:0 0 4px 0;
    
    border:#ccc 3px solid;
    cursor: pointer;
}

.img:hover{
    width: 400px; top:50%;
    
    
}
.pictures div{ display:inline;}