.header{
    display: flex;
    // justify-content: space-between;
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: rgba(202, 227, 213, 0.853);
    position: relative;
}


.navList{
    display:flex;
    font-size: 15px;
    font-weight: bold;
    
    & a{
        align-items: center;
        // border: 2px solid blue;
        // border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 5px;
        width: 75px;
        // padding: 2px;
        text-decoration: none;
    }

    & a:hover{
        background-color: cadetblue;
        transition: .5s;
    }

}
.image{
    width:100px;
    height: 100px;
    position: relative;
    margin-top: 0;
}