
.allbody {
    margin-bottom: 0;
}

.greeting {
    font-size: 140px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 10px var(--black);
    color: white;
  }

.com {
    font-size: 200px;
}


// .slide {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .imgslide {
//     height: 200px;
//     width: 200px;
// }

// .slideShowPic {
//     width: cover !important;
//     height: 1266px !important;
//     border: none !important;
// }

// .text {
//     position: absolute;
//     color: rgb(0, 0, 0);
// }

// .prev, .next {
//     color: black;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }

// .next {
//     right: 0;
// }

// .slide {
//     display: none;
// }

// .slide:nth-child(1) {
//     display: flex;
// }

.middle {
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chef {
    width: 600px;
    height: 450px;

}
.articlesPic {
    width: 1250px;
    height: 650px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.video {
    padding-top: 20px;
}


.chefOfTheMonth {
    float: left;
    // border: solid #6d8021;
    padding-left: 400px;
    padding-right: 50px;
}

.tweets {
    float: left;
    // border: solid #6d8021;
    padding-left: 50px;
    padding-right: 50px;
}

.featuredArticle {
    padding-right: 50px;
}

.eventSection {
    // float: left;
    // border: solid #6d8021;
    padding-right: 50px;
    margin-bottom: 0;
    
}

.event {
    width: 1250px;
    height: 650px;
    margin-bottom: -05px;
}