
.greeting {
    font-size: 150px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 10px var(--black);
    color: white;
  }

.com {
    font-size: 200px;
}


.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgslide {
    height: 200px;
    width: 200px;
}

.slideShowPic {
    width: cover;
    height: 1266px;
}

.text {
    position: absolute;
    color: rgb(0, 0, 0);
}

.prev, .next {
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 0;
}

.slide {
    display: none;
}

.slide:nth-child(1) {
    display: flex;
}

.middle {
    width: 100%;
    justify-content: space-around;
}

.chef {
    width: 350px;

}

.eventSection {
    float: left;
    // border: solid #6d8021;
    padding-left: 200px;
    padding-right: 50px;
}

.chefOfTheMonth {
    float: left;
    // border: solid #6d8021;
    padding-left: 50px;
    padding-right: 50px;
}

.tweets {
    float: left;
    // border: solid #6d8021;
    padding-left: 50px;
    padding-right: 50px;
}
