.feedback{
    width: 70%;
    margin: 10% 5% 20%;
}

.message{
    position: relative;
    border: solid 2px rgb(153, 236, 79);
    border-radius: 10px;
    width: 50%;
    margin-left: 40%;
    padding-top: 20px;
    padding-bottom: 10%;
}

h2, h3{
    text-align: center;
}