.mainFeedsContainer{
    height: 100%;
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem 1rem lightgray;
    border-radius: 0.5rem;

    .feedInputContainer{
        display: flex;
        align-items: center;
        .inputContainer{
            background: white;
            .postDesc{
                width: 100%;
                background: transparent;
                &:focus{

                }
            }
        }
    }
}