.mainFeedsContainer{
    height: 100%;
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem 1rem lightgray;
    border-radius: 0.5rem;

    .feedInputContainer{
        display: flex;
        align-items: center;
        .inputContainer{
            background: rgb(237, 237, 237);
            border-radius: 1rem;
            width: 100%;
            color: white;
            margin-left: 0.5rem;
            .postDesc{
                width: 100%;
                background: transparent;
                border: none;
                height: 2rem;
                line-height: 1.0rem;
                padding: 0.5rem;
                margin-left: 0.2rem;
                font-size: 1rem;
                &:focus{
                    outline: none;
                    border: none;                
                }
                &::placeholder{
                    color: black;
                }
            }
        }
    }
    .feedPostButtonContainer{
        text-align: right;
        .postBtn{
            background: #6D8021;
            color: black;
            border-radius: 0.5rem;
            margin-top: 0.8rem;
        }
    }
    .hrId{
        height: 1px;
        background-color: lightgray;
        border: none;
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .iconButtonsActions{
        
    }
}