$main-color:#6D8021;
$secondry-color:#dae4b5;
.MainProfileDiv{
    height: 8vh;
    width: 85vw;
    background: light gray;
    overflow-x: hidden;
     
}
.profileContainer{
    width: 90%;
    height: 100vh;
    background: white;
    margin: auto;
}
