<<<<<<< Updated upstream
=======
.compassBtn{
    display: center;
    position: absolute;
    top: 23rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;

}

>>>>>>> Stashed changes
.compassimg {
    display: center;
    height: 50px;
    width: 50px;
    width: 50px;    
}
.search{
    display: center;
    position: absolute;
    top: 23rem;
    right: 35rem;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
    input {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 100%;
        
      }
}