.footer{
    
    margin: 0;
    // align-items: center;
    // position: relative;
    padding-top: 20px;
}

.firstContainer {
    float: left;
}

.secondContainter {
    float: left;
}

.thirdContainter {
    float: left;
}


.contacticons {
    width: 30px;
    height: 30px;
    list-style-type: none;
}

.small {
    // padding-top: 20px;
    
}