.compassBtn{
    position: absolute;
    top: 18rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;

}

.compassimg {
    height: 50px;
    width: 50px;    
}
.search{
    position: absolute;
    top: 18rem;
    right: 10rem;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}